<html>
    <head>
        <title>My Store</title>
    </head>
    <body>

    <h1>Welcome to my store</h1>
        {% for category in categories %}
            <h2>{{ category.name }}</h2>
                {% for product in category.product_set.all %}
                    <a href="/product/{{ product.id }}">{{ product.name }}</a>
                {% endfor %}
        {% endfor %}
        <form>
        First name:<br>
        <input type="text" name="firstname" value="Mickey">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse">
        <br><br>
        <input type="submit" value="Submit">
        </form>

    </body>

</html>